$background-color: rgb(228, 228, 228);
$primary-color: rgb(161, 164, 169);

body {
    display: flex;
    justify-content: center;
    align-items: center;
}
.form_container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $background-color;
    padding: 2rem;
    border-radius: 10px;

    .form {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 1rem;

        input {
            border-radius: 4px;
            border: 1px solid black;
        }
    }
}