$background-color: rgb(228, 228, 228);
$primary-color: rgb(161, 164, 169);
$font-family: 'Roboto', sans-serif;
$font-style: normal;
$font-weight: 400;

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    font-family: $font-family;
    font-style: $font-style;
    font-weight: $font-weight;
}
.form_container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $background-color;
    padding: 1rem;
    border-radius: 10px;

    .form {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 1rem;
        width: 18rem;

        .container {
            display: flex;
            flex-direction: column;
            gap: 0.2rem;
        }
        label {
            font-size: 0.9rem;
            color: grey;
        }
        div > input {
            border-radius: 4px;
            border: none;
            box-sizing: border-box;
            padding: 0 0.5rem;
        }

        & > input {
            background-color: green;
            color: white;
            border: none;
            border-radius: 4px;
            box-sizing: border-box;
            padding: 0 0.5rem;
            cursor: pointer;
            &:hover {
                background-color: darkgreen;
            }
        }
    }
}